.terminal-box {
  background-color: #000;
  color: #33ff33;
  font-family: monospace;
  padding: 1rem;
  border-radius: 8px;
  border: 1px solid #444;
  box-shadow: 0 0 10px #0f0;
  margin-bottom: 2rem;
}

.prompt::before {
  color: #0f0;
}

.line {
  white-space: pre;
}

.blinking-cursor {
  display: inline-block;
  width: 10px;
  height: 1em;
  background-color: #33ff33;
  margin-left: 4px;
  animation: blink 1s step-start infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
