<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}

    <!-- Custom page styles -->
    <style>
      .title {
        padding: 5%;
        color: #101417;
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        background: #94f766;
        display: grid;
      }
      .meta {
        font-size: 0.7rem;
        font-weight: normal;
        text-transform: uppercase;
      }
    </style>

    <!-- Terminal CSS -->
    <link rel="stylesheet" href="{{ '/assets/css/terminal-live.css' | absolute_url }}?v={{ site.time | date: '%s' }}">
  </head>
  <body>
    <div id="indicator"></div>
    <div id="page">
      
      <!-- header -->
      {% include header.html %}

      <!-- nav -->
      {% include nav.html %}

      <!-- page content -->
      <main class="post-list">
        <p class="title">{{ page.title }}</p>
        {{ content }}
      </main>

      <!-- footer -->
      {% include footer.html %}
    </div>

    <!-- Terminal JS -->
    <script src="{{ '/assets/js/terminal-live.js' | absolute_url }}?v={{ site.time | date: '%s' }}"></script>
    <!-- Anime Clock JS (safe to include globally) -->
    <script src="{{ '/assets/js/clock.js' | absolute_url }}?v={{ site.time | date: '%s' }}"></script>
    <!-- Name animate JS -->
    <script src="{{ '/assets/js/name-animate.js' | absolute_url }}?v={{ site.time | date: '%s' }}"></script>
  </body>
</html>
