<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <div id="indicator"></div>
    <div id="page">
      <style>
        .title {
          padding: 5%;
          color: #101417;
          font-size: 18px;
          font-weight: bold;
          text-align: center;
          background: #94f766;
          display: grid;
        }
      </style>
      <!-- header -->
      {% include header.html %}
      <!-- nav -->
      {% include nav.html %}
      <!-- page content -->
      <main class="content">
        <p class="title">
        
          {{page.title}}
        </p>
        {{content}}
      </main>

      <!-- footer -->
      {% include footer.html %}
    </div>
    <link rel="stylesheet" href="{{ '/assets/css/terminal-live.css' | absolute_url }}">
    <script src="{{ '/assets/js/terminal-live.js' | absolute_url }}"></script>  
  </body>
</html>
