name: metrix

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"

permissions:
  contents: write

jobs:
  metrics:
    runs-on: ubuntu-latest
    timeout-minutes: 3
    steps:
      - name: Generate metrics
        uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          filename: metrics.classic.svg
          base: header, repositories

          plugin_lines: yes
          plugin_lines_sections: repositories
          plugin_lines_repositories_limit: 10
          plugin_lines_history_limit: 1
